fastapi
uvicorn
pydantic
pydantic-settings
langgraph
langchain-community
python-dotenv
supabase
langgraph-checkpoint-sqlite
sse-starlette
google-generativeai
faster-whisper
python-multipart
pinecone
groq
clerk-backend-api
tavily-python
instructor
litellm
requests
cachetools
PyJWT
cryptography
httpx
pytest